html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html, #root {
	width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  
  /* Default Font */
  font-family: Arial, Helvetica, sans-serif;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  overflow-x: hidden;

  background-image: url('../img/LogInScreen-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/****************************************
                Utilities
****************************************/

/* Buttons
==================== */
button {
  outline: none !important;
}

/* form input
==================== */
input {
  outline: none !important;
}

/****************************************
                Content
****************************************/

#create-account-container {
  min-width: 400px;
  min-height: 500px;
  display: flex;

  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -ms-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.212);
}

#create-account-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  margin: 40px;
}
#create-account-form h2 {
  font-size: 2em;
  color: white;
  margin: 0 0 10px 0;
}
#create-account-form h4 {
  font-size: 1em;
  color: rgb(230, 230, 230);

  margin-bottom: 20px;
}

.form-section {
  width: 100%;
  /* height: 50px; */

  box-sizing: border-box;

  margin: 10px 0;
}
.input-field {
  width: 100%;
  height: 50px;

  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);

  transition: all 0.25s;
}
.input-field:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#create-account-form h5 {
  font-size: 0.8em;
  color: rgb(230, 230, 230);

  margin: 5px 0;
}
#create-account-form #return-to-login-text {
  color: rgb(240, 240, 240);
}
#create-account-form #return-to-login-text > span a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}
#create-account-form #return-to-login-text > span:hover a {
  color: rgb(255, 255, 255);
}